@font-face {
    font-family: 'AndaleMono';
    src: url('./fonts/ANDALEMO.TTF') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "AndaleMono", "Consolas", monospace;
    background: #2D3039;
    color: #6EBBCD;
}

a {
    color: #B894FF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    color: #D9D617;
    font-size: 40px;
}

h2 {
    color: #B894FF;
    font-size: 35px;
}

h3 {
    color: #0DC8F2;
    font-size: 30px;
}

h4 {
    color: #72D4A5;
    font-size: 25px;
    margin: 5px 0px;
}

h5 {
    color: #9FA7C0;
    font-size: 20px;
}

strong {
    color: #DBCE84;
}

em {
    color: #BDAEF0;
}

#bio em {
    color: red;
}

#background {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #2D3039;
    z-index: -1;
}

#frame {
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #2D3039;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #6EBBCD;
    margin: 0;
    z-index: 1;
}

#navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 10px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(50% + 20px));
}

#navigation li {
    margin-right: 20px;
}

#navigation a {
    color: #B894FF;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#navigation a:hover {
    color: #A75F82;
}

#background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: linear-gradient(45deg, #2D3039 25%, #1C1E27 25%, #1C1E27 75%, #2D3039 75%);
    background-size: 20px 20px; /* Size of each checkerboard cell */
    z-index: -1;
    animation: panningCheckerboard 8s linear infinite;
}

@keyframes panningCheckerboard {
    0% {
        transform: translate(-20px, -20px); /* Move the checkerboard pattern 1 cell to the left and 1 cell up */
    }
    100% {
        transform: translate(0, 0);
    }
}

#bio {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 300px;
}

#bottom-left-area {
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
    width: 400px;
}

#word-cloud-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Make sure this is lower than other z-indices */
}

